<!DOCTYPE html>
<html lang="en">
<head>
	<title>MOTIFIZER : Analysis Module</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/title.png') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact3" style="background-image: url('static/images/bg-01.jpg');">
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" method="POST" action="/run">
					<span class="contact3-form-title">
						Motifizer
					</span>
					<span class="contact3-form-title"><center>
						<h4>
							An automated module for prediction gene regulation from sequencing datasets
						</h4>
						<!--<h6>
							Developed by SPACY<br>
						</h6>--><br>
						<h6> Analysis Module </h6>
					</center></span> 

					<!--<div class="wrap-contact3-form-radio">
						<div class="contact3-form-radio m-r-42">
							<input class="input-radio3" id="radio1" type="radio" name="choice" value="say-hi" checked="checked">
							<label class="label-radio3" for="radio1">
								Say Hi
							</label>
						</div>

						<div class="contact3-form-radio">
							<input class="input-radio3" id="radio2" type="radio" name="choice" value="get-quote">
							<label class="label-radio3" for="radio2">
								Get a Quote
							</label>
						</div>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="name" placeholder="Your Name">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input3" type="text" name="email" placeholder="Your Email">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 input3-select">
						<div>
							<select class="selection-2" name="service">
								<option>Needed Services</option>
								<option>eCommerce Bussiness</option>
								<option>UI/UX Design</option>
								<option>Online Services</option>
							</select>
						</div>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 input3-select">
						<div>
							<select class="selection-2" name="budget">
								<option>Budget</option>
								<option>1500 $</option>
								<option>2000 $</option>
								<option>3000 $</option>
							</select>
						</div>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Message is required">
						<textarea class="input3" name="message" placeholder="Your Message"></textarea>
						<span class="focus-input3"></span>
					</div> -->
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Path to JASPAR database</h6><br>
						<input class="input3" type="text" name="jaspar_path" placeholder="Path to JASPAR database">
						<span class="focus-input3"></span>
					</div><br><br>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Path to RNA seq data</h6><br>
						<input class="input3" type="text" name="rna_path" placeholder="Path to RNA seq data">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Sheet name for Up regulated data</h6><br>
						<input class="input3" type="text" name="up_data" placeholder="Sheet name for Up regulated data">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Sheet name for Down regulated data</h6><br>
						<input class="input3" type="text" name="down_data" placeholder="Sheet name for Down regulated data">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Sheet name for Not differentially regulated data</h6><br>
						<input class="input3" type="text" name="not_data" placeholder="Sheet name for Not differentially regulated data">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Path to dmel genome file</h6><br>
						<input class="input3" type="text" name="dmel" placeholder="Path to dmel genome file">
						<span class="focus-input3"></span>
					</div><br><br>

					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Path to Genome FASTA file</h6><br>
						<input class="input3" type="text" name="genome" placeholder="Path to Genome FASTA file">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Extra bases to be added</h6><br>
						<input class="input3" type="text" name="basepairs" placeholder="Extra bases to be added">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>File name for Up regulated sequences</h6><br>
						<input class="input3" type="text" name="up_seq" placeholder="File name for Up regulated sequences">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>File name for Down regulated sequences</h6><br>
						<input class="input3" type="text" name="down_seq" placeholder="File name for Down regulated sequences">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>File name for Not differentially regulated sequences</h6><br>
						<input class="input3" type="text" name="not_seq" placeholder="File name for Not differentially regulated sequences">
						<span class="focus-input3"></span>
					</div><br><br>
					
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<h6>Path to save results</h6><br>
						<input class="input3" type="text" name="save_res" placeholder="Path to save results">
						<span class="focus-input3"></span>
					</div><br><br>
					
					<div class="container-contact3-form-btn">
						<center><button class="contact3-form-btn" type="submit">
							Click to start analysis
						</button></center><br>
						<center><button class="contact3-form-btn" type="reset">
							Reset
						</button></center>
						
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
