<!DOCTYPE html>
<html lang="en">
<head>
	<title>MOTIFIZER : RNA-Seq Module</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/title.png') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact3" style="background-image: url('static/images/bg-01.jpg');">
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" method="POST" action="/rna_seq_se">
					<span class="contact3-form-title">
						<center><img src = "static/images/motifizerLogo.png"></center>
					</span>
					<span class="contact3-form-title"><center>
						<h4> RNA-Seq Module : Hisat2 Alignment and HTSeq Count </h4>
					</center></span> 

					
					
					<div class="container-contact3-form-btn">
						<center><button class="contact3-form-btn" type="submit" >
							Single End Reads
						</button></center><br>
						</center>
						
					</div>
				</form>

				
				<form class="contact3-form validate-form" method="POST" action="/rna_seq_pe">
					<div class="container-contact3-form-btn">
						<center><button class="contact3-form-btn" type="submit">
							Paired End Reads
						</button></center><br>
						</center>
						
					</div>
				</form>

			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
